$bg-hover: #ffa500;
$color-hover: #000000;
$btn-color: #990f1b28;
$bg-light: #fffcf4;
$sect-2-color: #f1eddf;
$sect-2-color-2: #d3cbbf;
$bg-card: #fffcf0;
$bg-card-1: #e1f8f0;
$bg-card-2: #e9e0cd;
$table-hover-left: #fcf5ef;
$table-hover-right: #d8d6d5;
$card-secure-color-gradient: #96e996;
$card-secure-color-gradient-2: #cbdfcb;
$card-refund-color-gradient: #cceeec;
$card-refund-color-gradient-2: #cbdfcb;
$card-exchange-color-gradient: #f0d5d9;
$card-exchange-color-gradient-2: #d6d6d6;
$card-transaction-color-gradient: #f8f878;
$card-transaction-color-gradient-2: #f5efef;
$border-color-orange: #f5af6e;
$border-color-gray: #8f8e8e;
$sharp: red;
$sharp-2: #ffa500;
$end-wave-color: #dfd2ba;
$bg-checkbox: #ccc;
$bg-checkbox-hover: #8f8e8e;
$bg-cheked-color: #2196f3;
$border-sty: #068080;
